<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo empleado</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="icon" href="/icons/fulltech-logo.ico" type="image/x-icon">
</head>
<body>
    <div class="empleadoNuevo-page">
        <div class="empleadoNuevo-form-box">
            <div class="exit-button-container">
                <a href="/empleado"><button class="exit-button"><span class="material-symbols-outlined" style="font-size: 30px;">close</span></button></a>
            </div>
            <div class="form-box">
                <form action="/insertarDatosEmpleado" method="post">
                    <div class="">
                        <label for="" class="label-empleadoNuevo">NOMBRE DE EMPLEADO: <span class="required">*</span></label>
                        <input type="text" name="nom_emp" id="nom_emp" placeholder="Nombre de empleado" required>
                    </div>
                    <div>
                        <label for="" class="label-empleadoNuevo">NO. EMPLEADO: <span class="required">*</span></label>
                        <input type="text" name="num_emp" id="num_emp" placeholder="Número de empleado" maxlength="4" required>    
                    </div>
                    <div>
                        <label for="" class="label-empleadoNuevo">AREA: <span class="required">*</span></label>
                        <input type="text" name="area_emp" id="area_emp" placeholder="Area/Puesto" required>    
                    </div>
                    <div>
                        <label for="" class="label-empleadoNuevo">ESTADO EMPLEADO:</label>
                        <select name="est_emp" id="est_emp">
                            <option value="1">ACTIVO</option>
                            <option value="0">BAJA</option>
                        </select><br>
                    </div>
                    <div class="button-box-empleadoNuevo">
                        <button type="submit" class="guardar-button">GUARDAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>