<div class="header">
    <div class="logo-box">
        <a href="/"><img src="/img/fulltech-logo2.jpg" alt="logo-empresa" height="40px" width="150px"></a>
    </div>
    <div class="current-logged-join">
        <div class="current-page">
            <p style="font-size: 26px;"><%= title %></p>
        </div>
        <div class="logged-user">
            <div class="username-box"><p><%= username %></p></div>
            <div class="user-box">
                <a href="/logout"><span class="material-symbols-outlined" id="user-icon" style="font-size: 30px; align-items: center; justify-content: center;">logout</span></a>
            </div>
        </div>
    </div>
</div>