<div class="menu">
    <ul class="lista-menu">
        <li>
            <a href="/"><button class="button" id="inventario"><p style="font-size: 14px; font-weight: 400;">Inventario General</p></button></a>
        </li>
        <li>
            <a href="/site"><button class="button" id="site"><p style="font-size: 14px; font-weight: 400;">SITE</p></button></a>
        </li>
        <li>
            <a href="/licencia"><button class="button" id="software"><p style="font-size: 14px; font-weight: 400;">Licencias</p></button></a>
        </li>
        <li>
            <a href="/empleado"><button class="button" id="empleado"><p style="font-size: 14px; font-weight: 400;">Empleado</p></button></a>
        </li>
    </ul>
</div>
